
body {
    font-family: Arial, sans-serif;
    text-align: start;
    margin: 0;
    padding: 0;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px dotted red;
}


.job-title {
    font-size: 1.5em;
    color: #666;
    margin: 20px 0;
}
#box1 {
    display: flex;
    gap: 30px;
    height: 100px;
    text-align: center;
    background-color: #333;  
    color: white;
    padding: 10px;
}


.title-text {
    border: 5px dotted red;
    width: 300px;
    padding: 10px;
}


.project-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
